* {
  box-sizing: border-box;
}

body {
  margin: 0;

}


$green: #79C753;
$vanilla: #F0EDE5;
$mainFont: 'TeX Gyre Heros';
$borders: 3px solid;

.bodyWrap {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background-color: $vanilla;
}

/*
--------------------------------------------------------------------------------
----------                       FONTS                                ----------
--------------------------------------------------------------------------------
*/
@font-face { font-family: TeX Gyre Heros; src: url('/fonts/texgyreheros-regular.otf'); }



hr {
  color: $green;
  border-style: solid;
  border-width: 1.5px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}


h1 {font-size: 4vw; font-weight: normal;}
a, p { font-size: 3vw;}


h1, h2, h3, h4, h5, h6,
a, p, ul, ol, li {
  color: $green;
  font-family: $mainFont;
  margin: 0;
}

a {
  text-decoration: none;
  transition: .5s;
}

a:hover {
  color: #E69060;
}
i {
  color: $green;
}
.nav,
.portfolio {
  width: 50%;
  padding: 15px;
  position: relative;
  border: $borders $green;
}

.header {
  display: flex;
}

.nav {
  background-color: $vanilla;
  border-right: none;
}

.portfolio {
  background-color: $vanilla;
}

.pageList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}
.contact {

}
#email {
  font-size: 2rem;
}
